<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link js-scroll-trigger active" href="#about">Lorem Ipsum 1</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link js-scroll-trigger" href="#experience">Lorem Ipsum 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Lorem Ipsum 3</a>
        </li>
        <li><br /><br />
            <a class="btn btn-danger" href="stand">Take a Stand</a>
        </li>
    </ul>
</div>